<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Details</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap"
    rel="stylesheet">
</head>

<body>
  <nav>
    <header>
      <h1>
        <a href="../index.html">ISP</a>
      </h1>
    </header>
    <ul>
      <li><a href="../index.html">Home</a></li>
      <li><a href="./inventory.html">Inventory</a></li>
      <li><a href="./create-item.html">Create Item</a></li>
    </ul>
  </nav>
  <main>
    <header>
      <h2>Item Details</h2>
    </header>
    <section class="card-item">
      <h4>Name: Mouse Dell</h4>
      <p>Category: Peripherals</p>
      <p>Stock: 10</p>
      <p>Price: $9.99</p>
      <p>Description: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum obcaecati quidem ex deserunt repellendus</p>
      <p>Entry date: 12/12/2024</p>
      <a href="./inventory.html">Back</a>
    </section>
  </main>
  <footer>
    <h3>Inventory System Pro</h3>
    <p>&copy; 2026</p>
  </footer>
</body>

</html>